:root {
  --roxo-padrao: #614ea6;
}
.rodape-card {
    color: var(--roxo-padrao);
    height: 35px;
}
.card {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 30px;
  height: 400px;
  border-radius: 0;
}
.card:hover {
  box-shadow: 22px 22px 49px rgba(0, 0, 0, 0.11)
}
.card img {
  border-radius: 0;
}
.card i {
  color: tomato;
}
.card-text {
    max-height: 100px;
    overflow: hidden;
}

.img-cartao {
    max-height: 200px;
    min-height: 200px;
    min-width: 100%;
}