.image-gallery-image {
  height: 360px;
}
.image-gallery-image img {
  height: 100%;
  object-fit: cover
}
.image-gallery-content.fullscreen .image-gallery-image {
  height: 100%;
}
.container-fluid {
  min-height: 300px;
}
.banner-desc-imovel {
  padding: 20px 230px;
}
.desc {
  width: 600px;
}
.desc p {
  margin: 0;
  font-size: 18px;
}
.svg path, .svg{
  width: 40px;
  height: 40px;
}
.grupo {
  padding: 5px;
}
.filtro {
  max-height: 745px;
}