.image-gallery-image {
  height: 360px;
}
.image-gallery-image img {
  height: 100%;
  object-fit: cover
}
.image-gallery-content.fullscreen .image-gallery-image {
  height: 100%;
  max-height: 100vh;
}
.container-fluid {
  min-height: 300px;
}
.banner-desc-imovel {
  padding: 20px 230px;
}
.desc {
  width: 600px;
}
.desc p {
  margin: 0;
  font-size: 18px;
}
.svg path, .svg{
  width: 40px;
  height: 40px;
}
.grupo {
  padding: 5px;
}
.filtro {
  max-height: 745px;
}
.btn-cancel {
  background: #ff9900 !important;
  border: #ff9900;
  border-radius: 5px !important;
  color: white;
}
.btn-confirme {
  background: #f95c00 !important;
  border: #f95c00;
  border-radius: 5px !important;
  color: white;
}
.btn-confirme:hover {
  background: #f76d1e !important;
}
.btn-cancel:hover {
  background: #f7a01d !important;
}