.card-option {
  height: 180px;
  margin-bottom: 30px;
  text-decoration: none !important;
  cursor: default;
}
.card-option .content-logo img{
  animation: createBox .5s;
  z-index: 2;
}
.card-option .content-logo {
  position: relative;
  height: 100%;
  width: 80%;
  max-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  animation: fade .5s;
  overflow: hidden;
  cursor: pointer;
}
.content-logo::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-100% + 4px);
  width: 100%;
  height: 100%;
  background: #f95b00;
  z-index: 1;
  transition: .5s ease-in-out;
}

.content-logo:hover::before {
  bottom: 0;
}
.content-logo:hover ~ .legenda {
  text-decoration: underline !important;
}
.card-option legend:hover {
  text-decoration: underline;
}
.card-option legend {
  margin: 0;
  margin-top: 5px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'open-sans-bold';
  text-transform: uppercase;
}
@keyframes createBox {
	from {
	  transform: scale(0);
	}
	to {
	  transform: scale(1);
	}
}
@keyframes fade {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
.notificacao {
  position: absolute;
  margin: 0;
  left: 85%;
  top: 5%;
  z-index: 3;
  float: right;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: black;

}