.navbar {
  /* background-color: coral; */
  background-color: gold;
  /* opacity: 0.9; */
}

.nav-item a{
	color: #000;
	transition: .3s ease-in;
}

.nav-item a:hover{
	color: #f5426c;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 80px;
  width: 200px;
}
.logo img {
  height: 100%;
}
